<h1>Books</h1>
<p>Title</p>
<p>Body</p>
<% @books.each do |book| %>
    <span><%= book.title %></span>
    <span><%= book.body %></span>
    <span><%= link_to"Show","/books/#{book.id}" %></span>
    <span><%= link_to"Edit","/books/#{book.id}/edit" %></span>
    <span><%= link_to"Destroy","/books/#{book.id}",method: :delete,"data-confirm"=>"Are you sure?" %></span>
<% end %>



<h2>New book</h2>
<%= form_with model: Book.new do |f| %>
    <h4>title</h4>
    <%= f.text_field :title %>

    <h4>Body</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
<% end %>